@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


body{
  background-color: aqua;
  color:black;
}
h1{
    text-align: center;
}
nav{
    text-align: center;
}
a{
    text-align: center
    
}